* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    color: hsl(30, 10%, 34%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/********************** HEADER SECTION STARTS ***********************/
header {
    margin: 1.875rem 1.875rem;
}

header h1 {
    color: hsl(24, 5%, 18%);
    font-family: 'Young Serif', serif;
    font-weight: 400;

    margin: 0 0 0.625rem 0;
}

/*********************** PREPARATION SECTION STARTS **********************/
.preparation {
    background-color: hsl(330, 100%, 98%);
    border-radius: 0.625rem;

    margin: 0 1.25rem;
    padding: 1.25rem 2.5rem;
}

.preparation h3 {
    color: hsl(332, 51%, 32%);
    margin-left: -1em;
}

.preparation ul li::marker {
    color: hsl(332, 51%, 32%);
}

.preparation li {
    margin: 0.625em 0;
    padding-inline-start: 0.9375em;
}

/********************** INGREDIENTS SECTION STARTS ***********************/
.ingredients {
    margin: 1.875rem 1.875rem 0 1.875rem;
    padding: 0 1.875rem 1.25rem 1.875rem;
}

.ingredients h2 {
    color: hsl(14, 45%, 36%);
    font-family: 'Young Serif', serif;
    font-weight: 400;

    margin-left: -1em;
}

.ingredients ul li::marker {
    color: hsl(14, 45%, 36%);
}

.ingredients li {
    margin: 0.625em 0;
    padding-inline-start: 0.9375em;
}

/********************** INSTRUCTIONS SECTION STARTS ***********************/
.instructions {
    border-top: 1px solid hsl(30, 18%, 87%);
    border-bottom: 1px solid hsl(30, 18%, 87%);

    margin: 0 1.875rem;
    padding: 1.25rem 1.875rem;
}

.instructions h2 {
    color: hsl(14, 45%, 36%);
    font-family: 'Young Serif', serif;
    font-weight: 400;

    margin: 0 0 1.25rem -1em;
}

.instructions ol li::marker {
    color: hsl(14, 45%, 36%);
}

.instructions li {
    margin: 0.625em 0;
    padding-inline-start: 0.9375em;
}

/********************** NUTRITION SECTION STARTS ***********************/
.nutrition {
    margin: 0 1.875rem;
    padding: 1.25rem 0;
}

.nutrition h2 {
    color: hsl(14, 45%, 36%);
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

.nutrition h2,
.nutrition p {
    margin: 0 0 1.25rem 0;
}

.row1 {
    display: flex;
    align-items: center;
    padding-bottom: 0.625rem;
}

.row2 {
    border-top: 1px solid hsl(30, 18%, 87%);
    border-bottom: 1px solid hsl(30, 18%, 87%);

    display: flex;
    align-items: center;
    padding: 0.625rem 0;
}

.row3 {
    border-bottom: 1px solid hsl(30, 18%, 87%);

    display: flex;
    align-items: center;
    padding: 0.625rem 0;
}

.row4 {
    display: flex;
    align-items: center;
    padding: 0.625rem 0;
}

.nutrition-label {
    padding-left: 1.875rem;
    flex: 1;
}

.nutrition-value {
    color: hsl(14, 45%, 36%);

    text-align: left;
    width: 7.5rem;
}

/******************** ATTRIBUTION SECTION STARTS *********************/
.attribution {
    margin-bottom: 2.5rem;
}

/******************** DESKTOP SECTION STARTS *********************/
@media screen and (min-width: 992px) {
    body {
        background-color: hsl(30, 54%, 90%);
    }
    
    .page {
        max-width: 46rem;
        margin: 4rem auto;
        padding: 2.5rem;
        background-color: white;
        border-radius: 1.5rem;
    }

    img {
        border-radius: 1rem;
    }

    .nutrition-value {
        width: 16rem;
    }
}